@charset "UTF-8";
body {
  font-size: 24px; }

/*css註解*/
.box {
  font-size: 100px;
  margin: 10px;
  color: #e2c90f; }

.box2 {
  padding: 100px; }

.wrapper {
  font-size: 10px;
  padding-top: 10px; }
  .wrapper .container {
    margin-top: 10px;
    background-color: #e2c90f; }

.box-small {
  margin-left: auto;
  margin-right: auto;
  height: 400px; }
  .box-small span {
    padding: 10px; }

.box-medium {
  margin-left: auto;
  margin-right: auto;
  height: 800px; }

body {
  font-size: 18px;
  font-weight: bold;
  color: #f20; }
  body h1 {
    font-size: 108px; }

.content {
  width: 10px;
  margin-left: 100px;
  margin-right: 1000px; }

.boxname {
  width: 100px; }

.btn-yellow {
  height: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: #f2ff00;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  color: #f20; }
  .btn-yellow h1 {
    font-size: 120px; }

.btn-green {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: #05bf2a;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  color: #f20;
  border-radius: 10px; }
  .btn-green h1 {
    font-size: 120px; }

.btn-blue {
  width: 300px;
  height: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: #0037ed;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  color: #f20;
  border-radius: 10px; }
  .btn-blue h1 {
    font-size: 120px; }

.btn-purple {
  width: 400px;
  height: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: purple;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  color: #f20;
  border-radius: 20px; }
  .btn-purple h1 {
    font-size: 120px; }
