@import "var";
@import "mixin";
@import "reset";
@import "desktop";
@import "medium";
@import "common";

$num: 5;

.wrapper {

    @for $i from 1 through $num {
        .section_0#{$i} {
            background-color: adjust-hue(rgb(230, 254, 143), $i * 8);
            // z-index: $num - $i;
        }
    }

    .box {
        width: 100px;
        height: 50px;
        position: relative;
    }

    $numbox: 10;

    @for $i from 1 through $numbox {
        .box_0#{$i} {
            background-color: lighten(rgb(0, 38, 255), $i * 7);
        }
    }

    .text {
        font-size: 2rem;
    }

    .line {
        width: 400px;
        height: 1px;
        background-color: rgb(75, 75, 75);
        box-sizing: border-box;

    }

    .box_07 {
        width: 300px;
        margin: 0 auto;
    }

    .box_08 {
        width: 300px;
        margin: 0 auto;
        background-color: rgb(146, 125, 249);
    }

    .circle {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        border: 3px solid rgb(7, 232, 153);
        margin: 0 auto;

    }

    .inner {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        border: 2px solid rgb(7, 232, 153);
        margin: -54px auto 0;
        padding: 15px;
        text-align: center;
        box-sizing: border-box
    }

    .section_02 {
        .box {
            width: 200px;
            height: 50px;
            position: relative;
            background-color: rgb(146, 61, 182);
            margin-bottom: 10px;
        }
    }

    .section_05 {
        .parallax_01 {
            background-color: rgb(235, 4, 4);
            margin: auto;
        }

        .parallax_02 {
            background-color: rgb(77, 235, 4);
            margin: auto;
        }
    }

    .section_06 {
        background-color: rgba(255, 255, 255, 0.253);

        .scroll_box {
            width: 100px;
            height: 100px;
            background-color: rgb(17, 0, 255);
            margin: 0 auto;
            position: relative;
            top: 100px;
        }

        .scroll_box01 {
            width: 100px;
            height: 100px;
            background-color: rgb(0, 240, 72);
            margin: 0 auto;
            position: relative;
            top: 100px;
        }
    }

    .section_07 {
        .toggleclass {

            background-color: rgb(255, 94, 0);
            width: 100px;
            height: 100px;

            &.on {
                background-color: rgb(120, 114, 201);
            }

        }
    }

    .section_08 {
        overflow: hidden;

        .bgall {
            width: 100%;
            height: 100vh;
            background-image: url(https://placem.at/places);
            background-color: #000;
            background-size: cover;
            transform-origin: center;
            transform: scale(1.2);
            transition: transform 3s ease-out;
            will-change: transform;
            position: relative;
            z-index: 0;

            &.on {
                transform: scale(1);
            }
            .trllbox {
                width: 200px;
                height: 80px;
                background-color: rgb(8, 144, 168);
                position: relative;
                z-index: 1;
                top: 400
    
            }
        }
       
    }
    .section_09 {
        background-color: rgba(157, 255, 0, 0.61);
        .scbox {
            width: 300px;
            height: 100px;
            
        }
        .scrollbox_01 {background-color: rgb(241, 88, 88);}
        .scrollbox_02 {background-color: rgb(14, 168, 148);}
        .scrollbox_03 {background-color: #fff;}
    }
    .section_10 {
        overflow: hidden;
        .bgsall {
           width: 100%;
           height: 100%;
           position: absolute;
        }
        .bgall01 {background-color: rgb(0, 204, 177);}
        .bgall02 {background-color: rgb(226, 33, 33);}
        .bgall03 {background-color: rgb(110, 146, 9);}
    }

}