div {
    background-image: url("/images/lemonade.jpg");
  }
  
  
  
  
  .box {
    background-image: url("/images/tree.jpg");
  }
  
  
  
  
  .box2 {
    background-image: url("/images/02.jpg");
  }
  
  
  .box2 {
    background-image: url("/images/02.jpg");
  }
  
  .box2 {
    background-image: url("/images/02.jpg");
  }
  
  .box2 {
    background-image: url("/images/02.jpg");
  }
  
  .box2 {
    background-image: url("/images/02.jpg");
  }